* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: Lato;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

header {
    margin-top: 25px;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
}

header p {
    font-family: "Lato Light";
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    height: 27px;
}

header p span {
    font-weight: 400;
    color: #f16d7f;
    font-family: "Lato Black";
    font-size: 28px;
}

header form {
    display: flex;
    padding-left: 37px;
}

.browse__button {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    position: relative;
}

.browse__button .dropdown__container {
    width: 264px;
    position: absolute;
    z-index: -2;
    left: 101%;
    margin-left: -88px;
    top: 26px;
}

.browse__button .dropdown__container .dropout {
    position: relative;
    margin-top: 0px;
    opacity: 0;
    width: 262px;
    height: 538px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #e9e9e9;
}

.browse__button .dropdown__container .dropout .triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: -8px;
    left: 28%;
    margin-left: -11px;
    z-index: 2;
}

.browse__button .dropdown__container .dropout p {
    width: 58px;
    color: #232323;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    padding-top: 15px;
    padding-left: 15px;
    height: 10px;
}

.browse__button .dropdown__container .dropout hr {
    margin-top: 18px;
    width: 236px;
    margin-left: 13px;
    margin-bottom: 16px;
}

.browse__button .dropdown__container .dropout ul {
    list-style-type: none;
    padding-left: 20px;
    text-align: left;
}

.browse__button .dropdown__container .dropout ul li {
    padding-bottom: 10px;
}

.browse__button .dropdown__container .dropout ul li a {
    width: 99px;
    height: 234px;
    color: #4f4f4f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.35px;
    line-height: normal;
}

header .browse__button:hover {
    background: #e6e6e6;
}

header .browse__button:hover .dropout {
    opacity: 1;
    margin-top: 8px;
    background-color: #ffffff;
}

header .browse__button:hover .dropdown__container {
    z-index: auto;
}

header .fa-caret-down {
    font-family: 'Font Awesome';
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #838383;
}

header input {
    height: 38px;
    box-sizing: border-box;
    width: 280px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding-left: 16px;
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.35px;
    border-left: 0;
    outline: none;
}

header .search__button {
    width: 36px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    color: #a4a4a4;
    font-size: 14px;
    border-left: 0;
}

header .browse__button:hover {
    background-color: #e6e6e6;
}

header hr {
    margin-top: 24px;
    border: 1px sold #e6e6e6;
    border-top: 0;
}

header .header__right {
    display: flex;
    align-items: center;
    justify-content: right;
}

header .cart__button {
    background-image: url(./img/cart.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    margin-right: 26px;
    width: 32px;
    height: 29px;
    display: inline-block;
}

header .cart__button a {
    width: 32px;
    height: 29px;
    display: inline-block;
}

header .account__button {
    font-family: Lato;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    border: none;
    text-align: right;
    font-style: normal;
    letter-spacing: 0.38px;
    padding-right: 12px;
    float: right;
    border-radius: 3px;
}

header .account__button i {
    color: #ffffff;
}

header .account__button:hover {
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    color: #f16d7f;
    cursor: pointer;
}

header .account__button:hover i {
    color: #f16d7f;
}

header .header__bottom {
    display: flex;
    padding-top: 20px;
    list-style-type: none;
    justify-content: space-between;
    width: 680px;
}

header .header__bottom li {
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

header .header__bottom a {
    color: #222222;
}

header .header__banner {
    height: 665px;
    background-color: #e8e8e8;
    margin-top: 22px;
}

header .header__banner .banner__container {
    height: 665px;
    background-image: url(./img/header_banner.png);
}

header .header__banner .banner__container .banner__content {
    display: flex;
    height: 92px;
    padding-top: 276px;
}

header .header__banner .banner__container .banner__content .vertical__bar {
    width: 12px;
    height: 98px;
    margin-top: 10px;
    background-color: #f16d7f;
}

header .header__banner .banner__container .banner__content p {
    font-family: "Lato Black";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222222;
    padding-left: 12px;
    padding-top: 0;
}

header .header__banner .banner__container .banner__content p .the__brand {
    font-family: Lato;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}

header .header__banner .banner__container .banner__content p .fashion {
    color: #f16d7f;
    font-family: Lato;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;

}

/*MENU*/

.main__box {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-top: 95px;
    margin-bottom: 100px;
}

.left__main {
    display: flex;
    flex-wrap: wrap;
    margin-right: 21px;
}

.left__main__first {
    width: 560px;
    height: 542px;
    background-color: #000000;
    background-image: url(./img/left__main__first.png);
    margin-bottom: 20px;
}

.left__first_banner {
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
}

.left__first_banner p {
    padding-top: 16px;
    padding-left: 20px;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.for__men__text {
    font-size: 30px;
    color: #f16d7f;
}

.left__second__banner {
    margin-top: 26px;
    width: 225px;
    height: 82px;
    background-color: #ffffff;
}

.left__second__banner p {
    padding-top: 18px;
    padding-left: 16px;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.for__accesories__text {
    font-size: 30px;
    color: #f16d7f;
}


.left__main__second {
    width: 560px;
    height: 261px;
    background-color: #dadad2;
    background-image: url(./img/left__main__second.png);
}



.right__main {
    display: flex;
    flex-wrap: wrap;
}

.right__main__first {
    width: 560px;
    height: 261px;
    background-color: #000000;
    background-image: url(./img/right__main__first.png);
    margin-bottom: 20px;
}

.right__first__banner {
    margin-top: 26px;
    width: 162px;
    height: 82px;
    background-color: #ffffff
}

.right__first__banner p {
    padding-top: 19px;
    padding-left: 16px;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.for__women__text {
    font-size: 30px;
    color: #f16d7f;
}




.right__main__second {
    width: 560px;
    height: 542px;
    background-color: #000000;
    background-image: url(./img/right__main__second.png);
}

.right__second__banner {
    margin-top: 26px;
    width: 180px;
    height: 82px;
    background-color: #ffffff;
}

.right__second__banner p {
    padding-top: 16px;
    padding-left: 21px;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.for__kids__text {
    font-size: 30px;
    color: #f16d7f;
}